@import "tailwindcss";

@plugin "tailwindcss-animate";

@config '../../tailwind.config.js';

/* @media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
} */

:root {
  --background: oklch(1 0 0);
  --foreground: oklch(0.145 0 0);
  --card: oklch(1 0 0);
  --card-foreground: oklch(0.145 0 0);
  --popover: oklch(1 0 0);
  --popover-foreground: oklch(0.145 0 0);
  --primary: oklch(0.205 0 0);
  --primary-foreground: oklch(0.985 0 0);
  --secondary: oklch(0.97 0 0);
  --secondary-foreground: oklch(0.205 0 0);
  --muted: oklch(0.97 0 0);
  --muted-foreground: oklch(0.556 0 0);
  --accent: oklch(0.97 0 0);
  --accent-foreground: oklch(0.205 0 0);
  --destructive: oklch(0.577 0.245 27.325);
  --destructive-foreground: oklch(0.577 0.245 27.325);
  --border: oklch(0.922 0 0);
  --input: oklch(0.922 0 0);
  --ring: oklch(0.708 0 0);
  --chart-1: oklch(0.646 0.222 41.116);
  --chart-2: oklch(0.6 0.118 184.704);
  --chart-3: oklch(0.398 0.07 227.392);
  --chart-4: oklch(0.828 0.189 84.429);
  --chart-5: oklch(0.769 0.188 70.08);
  --radius: 0.625rem;
  --sidebar: oklch(0.985 0 0);
  --sidebar-foreground: oklch(0.145 0 0);
  --sidebar-primary: oklch(0.205 0 0);
  --sidebar-primary-foreground: oklch(0.985 0 0);
  --sidebar-accent: oklch(0.97 0 0);
  --sidebar-accent-foreground: oklch(0.205 0 0);
  --sidebar-border: oklch(0.922 0 0);
  --sidebar-ring: oklch(0.708 0 0);
}

.dark {
  --background: oklch(0.145 0 0);
  --foreground: oklch(0.985 0 0);
  --card: oklch(0.145 0 0);
  --card-foreground: oklch(0.985 0 0);
  --popover: oklch(0.145 0 0);
  --popover-foreground: oklch(0.985 0 0);
  --primary: oklch(0.985 0 0);
  --primary-foreground: oklch(0.205 0 0);
  --secondary: oklch(0.269 0 0);
  --secondary-foreground: oklch(0.985 0 0);
  --muted: oklch(0.269 0 0);
  --muted-foreground: oklch(0.708 0 0);
  --accent: oklch(0.269 0 0);
  --accent-foreground: oklch(0.985 0 0);
  --destructive: oklch(0.396 0.141 25.723);
  --destructive-foreground: oklch(0.637 0.237 25.331);
  --border: oklch(0.269 0 0);
  --input: oklch(0.269 0 0);
  --ring: oklch(0.439 0 0);
  --chart-1: oklch(0.488 0.243 264.376);
  --chart-2: oklch(0.696 0.17 162.48);
  --chart-3: oklch(0.769 0.188 70.08);
  --chart-4: oklch(0.627 0.265 303.9);
  --chart-5: oklch(0.645 0.246 16.439);
  --sidebar: oklch(0.205 0 0);
  --sidebar-foreground: oklch(0.985 0 0);
  --sidebar-primary: oklch(0.488 0.243 264.376);
  --sidebar-primary-foreground: oklch(0.985 0 0);
  --sidebar-accent: oklch(0.269 0 0);
  --sidebar-accent-foreground: oklch(0.985 0 0);
  --sidebar-border: oklch(0.269 0 0);
  --sidebar-ring: oklch(0.439 0 0);
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-card: var(--card);
  --color-card-foreground: var(--card-foreground);
  --color-popover: var(--popover);
  --color-popover-foreground: var(--popover-foreground);
  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);
  --color-secondary: var(--secondary);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-muted: var(--muted);
  --color-muted-foreground: var(--muted-foreground);
  --color-accent: var(--accent);
  --color-accent-foreground: var(--accent-foreground);
  --color-destructive: var(--destructive);
  --color-destructive-foreground: var(--destructive-foreground);
  --color-border: var(--border);
  --color-input: var(--input);
  --color-ring: var(--ring);
  --color-chart-1: var(--chart-1);
  --color-chart-2: var(--chart-2);
  --color-chart-3: var(--chart-3);
  --color-chart-4: var(--chart-4);
  --color-chart-5: var(--chart-5);
  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);
  --color-sidebar: var(--sidebar);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-ring: var(--sidebar-ring);


}

.nav-link:hover .nav-underline{
  width: 100%;
} 
.nav-link.active .nav-underline{
  width: 100%;
} 

.search-box{
  opacity: 0;
  top: 0%;
  transition: top .2s ease-in-out;
}

.search-box.active{
  opacity: 1;
  top: 140%;
}

.cart-list::-webkit-scrollbar {
  width: 3px; /* Width of the scrollbar */
}

.cart-list::-webkit-scrollbar-track {
  background: #f1f1f1; /* Color of the tracking area */
}

.cart-list::-webkit-scrollbar-thumb {
  background: #888888d2; /* Color of the scrollbar thumb */
  border-radius: 2rem; /* Rounded corners of the thumb */
}

.cart-list::-webkit-scrollbar-thumb:hover {
  background: #555; /* Color of the thumb on hover */
}

main{
  /* padding-top: 100px; */
  padding-bottom: 100px;
  @apply px-4 sm:px-20 lg:px-24 xl:px-0 max-w-10xl mx-auto
}

.product-card-title{
  @apply  text-center font-semibold text-base md:text-[17px] text-neutral-700 hover:text-rose-600 transition-all duration-200 hover:underline hover:underline-offset-2
}

.banner-img{
  position: relative;
  z-index: 0;
}
.banner-img::before{
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.3);
  z-index: 2;
}

.banner-text h1{
  text-shadow: 2px 2px 10px rgba(0, 0, 0, 0.8);
}

.article h1{
  @apply text-3xl font-bold mb-4
}

.article h2{
  @apply text-2xl font-semibold mb-3
}
.article h3{
  @apply text-xl font-semibold mb-3
}
.article h4{
  @apply text-lg font-semibold mb-3
}
.article h5{
  @apply text-base font-semibold mb-2
}
.article h6{
  @apply text-base font-semibold mb-2
}

.article p{
  @apply leading-normal mb-2
}

/* Span styles (for inline elements) */
.article span {
  /* Add styles as needed for specific span elements */
}

/* Link styles */
.article a {
  color: blue;
  text-decoration: underline;
}

/* Blockquote styles */
.article blockquote {
  border-left: 4px solid #ccc;
  padding-left: 1rem;
  margin-bottom: 1rem;
  font-style: italic;
}

/* List styles */
.article ul, ol {
  margin-bottom: 1rem;
}

.article ul {
  list-style: disc;
  padding-left: 2rem;
}

.article ol {
  list-style: decimal;
  padding-left: 2rem;
}

ul{
  padding-left: 1rem;
}

.check-list li{
  position: relative;
  margin-bottom: 5px;
}

.check-list li::after {
  content: '';
  position: absolute;
  left: -1.3em;
  top: 5px;
  width: 1em;
  height: 1em;
  background-size: 100%;
  background-image: url('data:image/svg+xml;utf8,<svg width="1em" height="1em" viewBox="0 0 14 10" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M0.872869 5.23438L2.11932 3.96236L5.35369 7.15199L12.1996 0.331676L13.4652 1.60369L5.35369 9.68324L0.872869 5.23438Z" fill="%2350C878"/></svg>');
}

.bg-lab{
  background-image: url('../../public/assets/lab-bg.webp'); 
  background-size: cover;
  background-position: center;
  padding: 80px 0px;
  position: relative;
  border-radius: 20px;
}

.bg-lab p{
  text-shadow: 2px 2px 10px rgba(0, 0, 0, 0.8);
}

.bg-lab::before{
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  top: 0;
  left: 0;
  z-index: 0;
  border-radius: 20px;
}

.leading-line{
  border-bottom: 1px solid rgba(138,1,148,.5);
  position: relative;
}

.leading-line::after{
  content: '';
  position: absolute;
  width: 40%;
  height: 3px;
  background-color: rgba(138,1,148,.5);
  bottom: -2px;
  left: 50%;
  transform: translateX(-50%);
}
